# Dependencies
node_modules/

# Build output
dist/
dist-electron/
release/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
Thumbs.db
.DS_Store

# Env
.env
.env.local
